body {
  height: 100%;
  margin: 0;
  padding: 0 10% 40px;
  font-size: 1.6em;
  line-height: 1.5;
  font-family: "Roboto Slab", sans-serif;
  text-align: justify;
  color: white;
  background-color: coral;
}

a {
  color: black;
}

.break {
  text-align: center;
}
